<configuration>

    <!-- Pick values from Spring, not MDC -->
    <springProperty scope="context" name="SERVICE" source="spring.application.name"/>
    <springProperty scope="context" name="ENV" source="spring.profiles.active"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            <!-- Standard JSON fields -->
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
                <message>message</message>
            </fieldNames>

            <!-- Static metadata -->
            <customFields>
                {
                "service":"${SERVICE:-unknown}",
                "env":"${ENV:-local}"
                }
            </customFields>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
